<!DOCTYPE html>
<html>
<head>
    <title>todo!</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
</head>
<body>

<section class="new-todo">
    <h1>Ny <span class="logo">todo!</span></h1>
    <form action="/new-todo" method="post">
        <label>Titel <input type="text" name="todo_title" /></label>
        <label>Beskrivning <input type="text" name="todo_description"></label>
        <input type="submit" value="Spara">
    </form>
</section>

<hr>

<h1>Todo</h1>
<article class="todos active-todos"> 
<%  @todos.each do | t | 
        if t['is_completed'] == 0 %> 
            <article class="todoitem">
                <h2><%= t['todo_title'] %></h2>
                <p><%= t['todo_description'] %></p>
                <section class="todo-controls">
                    <form action="/todos/<%= t['id'] %>" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" value="Ta bort">
                    </form>
                    <form action="/todos/<%= t['id'] %>/toggle-completion" method="post">
                        <input type="submit" value="Färdig">
                    </form>
                </section>
            </article>
<%      end 
    end %>
</article>

<h1>Färdiga</h1>
<article class="todos done-todos">
<%  @todos.each do | t |
        if t['is_completed'] == 1 %> 
            <article class="todoitem">
                <h2><%= t['todo_title'] %></h2>
                <p><%= t['todo_description'] %></p>
                <form action="/todos/<%= t['id'] %>/toggle-completion" method="post">
                    <input type="submit" value="Ofärdig">
                </form>
            </article>
<% 
        end
    end %>
</article>
</body>
</html>