<%= erb :'layouts/_header' %>

<h1>Ändra kategori</h1>
<form action="/categories/<%= @category[0]['id']%>/update" method="post">
    <label>Kategori <input type="text" id="<%= @category[0]['id'] %>" name="category_title" value="<%= @category[0]['category_title'] %>" /></label>
    <input type="submit" value="Färdig">
</form>

<h1>Alla ToDos i kategorien</h1>

<%= erb :'todos/_todos' %>

<%= erb :'layouts/_footer' %>