<%= erb :'layouts/_header' %>
<section>
    <h1>Ändra kategori</h1>
    <article class="edit-category">
        <form action="/categories/<%= @category[0]['id']%>/update" method="post">
            <label>Kategori <input type="text" id="<%= @category[0]['id'] %>" name="category_title" value="<%= @category[0]['category_title'] %>" /></label>
            <input type="submit" value="Färdig">
        </form>
    </article>
</section>

<section class="todos">[0]
    <h1>Alla ToDos i kategorien</h1>
    <article>
        <%= erb :'todos/_todos' %>
    </article>
</section>
<%= erb :'layouts/_footer' %>